.button
{
    text-align: center;
    border: 0px;
    border-radius: 80px;
    font-weight: $bold;
    
    &--big{
        font-size: $xx-large;
        
        padding-left: 8vw;
        padding-right: 8vw;
        width:auto;
        
    }
    &--large{
        font-size: $x-large;
         padding-left: 8vw;
        padding-right: 8vw;
        width:auto;
    }
    &--medium{
        font-size: $large;
         padding-left: 5vw;
        padding-right: 5vw;
        width:auto;
    }
    &--transition
    {
        font-size: $transitionfont;
        padding-left: 8vw;
        padding-right: 8vw;
        width:auto;
    }
    &--small{
        font-size: $medium;
        padding-left: 5vw;
        padding-right: 5vw;
        width:auto;
    }
}