.bg
{
    &--white
    {
        background-color: $White;
    }
    &--snow
    {
        background-color: $Snow;
    }
    &--quicksilver
    {
        background-color: $QuickSilver;
    }
    &--jellybean
    {
        background-color: $JellyBean;
    }
    &--salmon
    {
        background-color: $Salmon;
    }
    &--pastepink
    {
        background-color: $PastePink;
    }
    &--granitegray
    {
        background-color: $GraniteGray;
    }
    &--taupegray
    {
        background-color: $TaupeGray;
    }
    &--gray
    {
        background-color: $Gray;
    }
}

.text
{
     &--white
    {
        color: $White;
    }
    &--snow
    {
        color: $Snow;
    }
    &--quicksilver
    {
        color: $QuickSilver;
    }
    &--jellybean
    {
        color: $JellyBean;
    }
    &--salmon
    {
        color: $Salmon;
    }
    &--pastepink
    {
        color: $PastePink;
    }
    &--granitegray
    {
        color: $GraniteGray;
    }
    &--taupegray
    {
        color: $TaupeGray;
    }
    &--gray
    {
        color: $Gray;
    }
}


