
h1,h2,h3,h4,h5,p
{
     font-family: $RaleWayFont;
}
.textsize
{
   
    font-size: $xx-large;
    
    &--large
    {
        font-size: $x-large;
    }
    &--medium
    {
        font-size: $large;
    }
    &--small
    {
        font-size: $medium;
    }
}

.textweight
{
    &--bold
    {
        font-weight: $bold;
    }
    &--regular
    {
        font-weight: $regular;
    }
    &--thin
    {
        font-weight: $thin;
    }
}

.textcolor
{
    &--white
    {
        color:$White;
    }
}