//Variables

//Colors
$White: #FFF !default;
$Snow: #FAFAFA !default;
$QuickSilver:#A0A0A0 !default;
$JellyBean:#E56353 !default;
$Salmon:#E97F72 !default;
$PastePink: #F0A9A1 !default;
$GraniteGray: #686963 !default;
$TaupeGray: #91918D !default;
$Gray: #BABAB8 !default;

//Fonts
$RaleWayFont: 'Raleway', sans-serif !default;

//Fonts-size
$xx-large:100px !default;
$x-large:70px !default;
$large:50px !default;
$transitionfont:35px !default;
$medium:18px !default;

//weight fonts

$bold: 700 !default;
$regular: 400 !default;
$thin:100 !default;